packages:
  yum:
    git: []
    jq: []
  rubygems:
    bundler: []

container_commands:
  02_mkdir_mobius_config:
    test: '[ ! -d /opt/elasticbeanstalk/support/conf/mobius ]'
    command: "mkdir -p /opt/elasticbeanstalk/support/conf/mobius"

  11_copy_webapp_config:
    command: "cp .ebextensions/nginx/webapp_healthd.conf /opt/elasticbeanstalk/support/conf/mobius/"

  80_update_nginx_config:
    command: |
      set -ex

      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      ln -sf $EB_SUPPORT_DIR/conf/mobius/webapp_healthd.conf /etc/nginx/conf.d/

      service nginx restart
